@keyframes logo
  0%
    transform scale(1, 1)

  40%
    transform scale(1.2, 1.2)

  100%
    transform scale(1, 1)

@keyframes logo-restart
  0%
    transform scale(1, 1)

  40%
    transform scale(1.2, 1.2)

  100%
    transform scale(1, 1)

@keyframes voice
  0%
    filter blur(10px)

  100%
    filter blur(0)

@keyframes voice-restart
  0%
    filter blur(10px)

  100%
    filter blur(0)

@keyframes shake
  15%
    transform rotate(0deg)

  30%
    transform rotate(-4deg)

  45%
    transform rotate(4deg)

  60%
    transform rotate(-4deg)

  75%
    transform rotate(4deg)

  90%
    transform rotate(0deg)

  100%
    transform rotate(0deg)
