.first-enter-active, .first-leave-active
  transition filter 0.5s linear

.first-enter-from, .first-leave-to
  filter blur(10px)

.first-enter-to, .first-leave-from
  filter blur(0)

.fade-enter-active, .fade-leave-active
  transition opacity 0.3s

.fade-enter-from, .fade-leave-to
  opacity 0

.fade-enter-to, .fade-leave-from
  opacity 1

.fade-delay-enter-active
  transition opacity 0.3s
  transition-delay 0.3s

.fade-delay-leave-active
  transition opacity 0.3s

.fade-delay-enter-from, .fade-delay-leave-to
  opacity 0

.fade-delay-enter-to, .fade-delay-leave-from
  opacity 1

.slide-up-enter-active, .slide-up-leave-active
  transition all 0.5s

.slide-up-enter-from, .slide-up-leave-to
  transform translateY(100%)

.slide-up-enter-to, .slide-up-leave-from
  transform translateY(0)

.slide-down-enter-active, .slide-down-leave-active
  transition all 0.5s

.slide-down-enter-from, .slide-down-leave-to
  transform translateY(-100%)

.slide-down-enter-to, .slide-down-leave-from
  transform translateY(0)

.slide-up-text-enter-active, .slide-up-text-leave-active
  transition all 0.5s

.slide-up-text-enter-from
  transform translateY(100%)
  opacity 0

.slide-up-text-enter-to
  transform translateY(0)
  opacity 1

.slide-up-text-leave-from
  transform translateY(0)
  opacity 1

.slide-up-text-leave-to
  transform translateY(-100%)
  opacity 0

.search-enter-active, .search-leave-active
  transition all 0.3s

.search-enter-from, .search-leave-to
  opacity 0
  width 0

.search-enter-to, .search-leave-from
  opacity 1
  width 200px

.search-card-enter-active, .search-card-leave-active
  transition all 0.3s

.search-card-enter-from, .search-card-leave-to
  opacity 0
  max-height 0

.search-card-enter-to, .search-card-leave-from
  opacity 1
  max-height 60px