$main-color = #F5C1BB
$main-color-dark = rgba(245,193,187,0.9)
$sub-color = #F5F0F2
$sub-color-dark = rgba(245, 240, 242,0.9)
$btn-text-color = #5F505F
$title-color = #5F505F
$title-color-dark = #999999
$icon-active-color = #ff9488
$hover-color = #F5B7BB
$active-color = #FADBD8